
body{
font-family: 'Titillium Web', sans-serif;
background-color: white;
}
h1{font-size: 66px; font-weight: 600; line-height: 80px; color: white;}
h2{font-size: 48px; margin-bottom: 40px; ;}
h3{text-align:left;}
h4{font-size:40px; text-align:left;}

h6{font-size: 35px; margin-bottom: 40px;}
p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 0;
    text-align: justify;
}
.marcotexto{
    border: solid black 2px;
    border-radius: 16px;
}
/*
.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }
  
.izquierda
{
    align-items: left;
}
.derecha{
align-items: right;
}
*/

section {
    padding: 140px 0;
}
.topmargin-xs{margin-top: 15px}
.topmargin-sm{margin-top: 30px}
.topmargin-lg{margin-top: 60px}
.bordeimagen{
    border: solid black 5px;
    border-radius: 10px;
}

#informacion p {
    color:black;
}
.btn{
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display:inline-block;
    
}
.btn-light {
    background-color: white;
    color:black;
    border: 2px solid white;
}

.btn i {font-size: 14px; margin-left: 5px;}


.navbar {
    background-color: #1c9b90;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    min-height: 100px;
}
.nav-link {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    
    
}
.nav-link:hover{
    color: white;
    border-radius: 12px;
    text-decoration: underline;
    border: solid black;
    border-radius: 6px;
    background-color: chocolate;
}
.logo-brand {
    min-width: 200px;
    max-width: 240px; 
}
.navbar-toggler {
    font-size: 40px;
}
.navbar-toggler:focus {outline:none;}

#hero {
    background-image: url('imagenes/background1.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #ffffff;
}
#hero p{
    color: white;
}

.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
    

}
.informacion-container {
    position: relative;
    overflow: hidden;
    margin: 10px 100px; 
    border-radius: 2px;
    transition: all 1s ;
    text-shadow: cadetblue;
    
}
.informacion-details p{
    visibility: hidden;
    color: white;
   
}

.informacion-details h2{
    visibility: hidden;
   
}

   
/*ANIMACIÓN DE LA IMAGEN*/
.informacion-container:hover{  
  transform: scale(1.2, 1.2); 
  visibility: visible;
  filter:drop-shadow(8px 8px 10px gray);
  filter: grayscale(3000%);
  border: solid 4px rgb(0, 0, 0);
  border-radius: 10px;
  
}
/*HACER QUE APAREZCA EL TEXTO*/
.informacion-container:hover p{  
     visibility: visible;
     color: white;
    
   }
   .informacion-container:hover h2{  
    visibility: visible;
   
   
  }
 

.informacion-details {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
    color: whitesmoke;
   
}
.informacion-details h2 {
    margin-bottom: 0px;
}


	table { 
        margin-left: auto;
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}
 


#informacion p{
font-size: 22px;
text-align: justify;
text-decoration-style: solid;
}














#Bibliografia{
    margin-left: 120px;
    margin-right: 120px;
    padding: 40px;
    border: solid black;
    border-radius: 5px;
}
#contacto{
    margin-left: 20px;
    padding:1px;
    
}



@media (max-width: 575.98px) { 
    h1 {font-size: 40px; line-height: normal;
}
}
/*
@media (max-width: 767px) { ... }


@media (max-width: 991px) { ... }


@media (max-width: 1199px) { ... }
*/
